<style>
body {
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0; 
    margin: 20px;
    


}
#eventDetails {

    margin-top: 20px;
    border: 1px solid #fa1616;
    padding: 15px;
    width: 300px;
    text-align: center;
}
button{
    center
    margin: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  
}
button:hover {
    background-color: #11e884;
}
.selected{
    background-color: #dcbc1d;
}
</style>