@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Demo App</h1>
    <h2> Here we are understanding how to push code onAzure web app instance via visual studio.</h2>
    </h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Coreby K.Swarnalatha.</a>.</p>
</div>
