body {
  font-family: Arial;
}

.calculator {
  width: 220px;
  margin: 50px auto;
  border: 2px solid #333;
  padding: 10px;
}

#result {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 18px;
}

.buttons button {
  width: 45px;
  height: 40px;
  margin: 3px;
  font-size: 16px;
}